h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}


/**

font-family: 'Rubik', sans-serif;


https://fonts.google.com/specimen/Lato?preview.text_type=custom&preview.text=Zou%20provides%20farmes,%20ranchers,%20private%20foresters,%20and%20



**/

